<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
<title>30 Day Free Trial</title>

</head>

<body style="background-color:#4d4f4e; margin:0px; padding:0px;">

<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0px auto;" bgcolor="#ffffff">
    <tr bgcolor="#00bdee">
		<td colspan="4" align="left" width="600" style="background-image:url('http://beta.marketocracy.com/includes/templates/emails/test/images/header.png'); background-repeat:no-repeat;">
		<!--[if gte mso 9]>
		<img src="http://'. $_SESSION['base_url'].'includes/email/images/support-ticket-email/header-support.png" width="600" height="45" border="0" alt="" />
		<![endif]-->
		<!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="600" height="45" border="0" alt="Marketocracy" />
		<!--<![endif]-->
		</td>
	</tr>
    <tr bgcolor="#00bdee">
    	<td width="15"><!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
		<!--<![endif]--></td>
        
        <td><h2 style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; margin:0px 0px 3px 0px; padding:0px;">Portfolio Trading Platform</h2></td>
        
        <td align="right"><h2 style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; margin:0px 0px 3px 0px; padding:0px;">August 28, 2014</h2></td>
        
        <td width="15"><!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
		<!--<![endif]--></td>
    </tr>
    <tr>
    	<td colspan="4">
        <!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="600" height="20" border="0" alt="Marketocracy" />
		<!--<![endif]-->
        </td>
    </tr>
    <tr>
    	<td width="15"><!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
		<!--<![endif]--></td>
        <td valign="top" colspan="2" bgcolor="#ffffff" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#3f3f3f; line-height:20px;">
            
            <table width="570" align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0px auto;" bgcolor="#ffffff">
            	<tr>
                	<td>
                        <h2 style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#242527; margin:0px; padding:0px;"><strong>Hello, Bob!</strong></h2>
                        
                        <p>We hope you're enjoying your free trial of Marketocracy Premium!</p>
                        
                        <p>If you haven't been through the site tour yet, we recommend that you do! It will help you navigate around the site and understand the basic features and functionality. Each week we will highlight a key feature of Marketocracy Trading Platform to help you take full advantage of everything offered in the 30 day free trial.</p>
                        
                        <h2 style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#242527; margin:0px; padding:0px;"><strong>First Things First</strong></h2>
                        
                        <p style="margin-top:5px;">The best way to take advantage of what the Marketocracy platform has to offer is to jump in and start your own funds and practice making real investment decisions.</p>
            
                        <p><em>How does our site work? It's simple.</em></p>
                        
                        <ul>
                            <li style="padding:5px 0px;">Set up a model fund which has $1 million virtual dollars deposited in it.</li>
                            <li style="padding:5px 0px;">Purchase stocks for the portfolio using the Trade Wizard.. It's as easy as buying stocks at your online brokerage.</li>
                            <li style="padding:5px 0px;">Marketocracy then "fills" your orders based on what is actually happening in the market. That means your order won't fill until the next time it is actually traded on the real market. And, if it's a small volume stock, it won't fill unless the volume on the actual market is sufficient.</li>
                        </ul>
                        
                        
                    </td>
                    <td width="20">
                        <!--[if !mso]><!-- -->
                        <img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="20" border="0" alt="Marketocracy" />
                        <!--<![endif]-->
                    </td>
                    <td width="170" valign="top" style="text-align:center">
                    	<h2 style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#fff; margin:0px 0px 10px 0px; padding:5px;background: #00BDEE;">Forbes Articles</h2>
                        
                        <a href="http://www.forbes.com/sites/kenkam/2014/03/07/can-apple-double-again/" target="_blank" style="display:block;color:#00BDEE; text-decoration:none;font-size:14px;">
                        <img src="http://beta.marketocracy.com/includes/templates/emails/test/images/apple1.jpg" alt="" width="170" height="113" border="0" />
                        Can Apple Double Again?
                        </a>
                        
                        <a href="http://www.forbes.com/sites/kenkam/2014/06/06/how-gilead-sciences-can-deliver-a-double/" target="_blank" style="display:block;color:#00BDEE; text-decoration:none;font-size:14px; margin:10px 0px 0px 0px;">
                        <img src="http://beta.marketocracy.com/includes/templates/emails/test/images/GILD.jpg" alt="" width="170" height="113" border="0" />
                        How Gilead Sciences Can Deliver A Double
                        </a>
                        
                        <a href="http://www.forbes.com/sites/kenkam/2014/06/20/can-american-airlines-double/" target="_blank" style="display:block;color:#00BDEE; text-decoration:none;font-size:14px; margin:10px 0px 0px 0px;">
                        <img src="http://beta.marketocracy.com/includes/templates/emails/test/images/AAL.jpg" alt="" width="170" height="113" border="0" />
                        Can American Airlines Double?
                        </a>
                        
                       
                        
                    </td>
                        
                </tr>
            </table>
            
            <a href="http://beta.marketocracy.com" target="_blank" style="margin: 0px auto 20px auto; background:#00BDEE; text-align:center; color:#fff; padding:5px 10px;; border-radius:3px; font-size:16px;text-decoration:none; display:block;width:350px;">Log In Now</a>
            
            <h2 style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#242527; margin:0px; padding:0px; padding-top: 10px; border-top:#00BDEE 5px dotted;"><strong>Community Forums: Your Guide to a Wealth of Knowledge</strong></h2>
                        
            <p style="margin-top:5px;">To get some investing ideas, we recommend taking a look at the stocks our community is researching and discussing your investment ideas on our community forums. This will help you make educated decisions about whose investment advice is worth your time to consider and what stocks might be a good choice.</p>
            
            <p>Joining in the conversations on our community forums offers several benefits:</p>
            <ol>
                <li style="padding:5px 0px;">Learn from other skilled investors with track records</li>
                <li style="padding:5px 0px;">Share your own insights to enhance the community's knowledge</li>
                <li style="padding:5px 0px;">Increase your credibility and notoriety as an investor by participating in discussions about stocks that we are covering in our Marketocracy Masters' investment blog on Forbes</li>
            </ol>
            
            <a href="http://beta.marketocracy.com/?page=04-01-00-001" target="_blank" style="margin: 0px auto 20px auto; background:#00BDEE; text-align:center; color:#fff; padding:5px 10px;; border-radius:3px; font-size:16px;text-decoration:none; display:block;width:350px;">Join the Conversation</a>
            
            <h2 style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#242527; margin:0px; padding:0px; padding-top: 10px; border-top:#00BDEE 5px dotted;"><strong>Using the Trade School</strong></h2>
            <p style="margin-top:5px;">We've produced a variety of articles in our Trade School to help you become the best investor you can be. Check out these helpful write-ups this week:</p>
            
            <ul>
                <li style="padding:5px 0px;"><a href="#" style="color: #00BDEE;text-decoration:none;" target="_blank"><strong>How To Use Forums</strong></a></li>
                <li style="padding:5px 0px;"><a href="#" style="color: #00BDEE;text-decoration:none;" target="_blank"><strong>How to Participate in the Forbes Investment Community Process</strong></a></li>
            </ul>
            
        </td>
        <td width="15"><!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
		<!--<![endif]--></td>
    </tr>
    <tr bgcolor="#242527">
    	<td colspan="4">
        <!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="600" height="5" border="0" alt="Marketocracy" />
		<!--<![endif]-->
        </td>
    </tr>
    <tr bgcolor="#242527">
        <td width="15"><!--[if !mso]><!-- -->
            <img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
            <!--<![endif]--></td>
        <td width="570" colspan="2"  valign="top" colspan="3" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; margin:0px;">
            <table style="margin:0px 0px 10px 0px;padding:0px;" cellpadding="0" cellspacing="0" width="100%">
            	<tr>
                	<td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; line-height:20px; text-align:left;margin:0px;"><a href="http://beta.marketocracy.com" target="_blank" style="color:#00BDEE;">Marketocracy Data Services</a><br />1208 W. Magnolia Ave Suite 236, Fort Worth, Texas 76104</p></td>
                    <td valign="bottom"><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; line-height:20px; text-align:right;margin:0px;">&copy; 2001-2014 Marketocracy</p></td>
                </tr>
            </table>
        </td>
        <td width="15"><!--[if !mso]><!-- -->
            <img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
            <!--<![endif]--></td>
    </tr>

</table><!--main-wrapper-->

</body>
</html>