<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
<title>30 Day Free Trial</title>

</head>

<body style="background-color:#4d4f4e; margin:0px; padding:0px;">

<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0px auto;" bgcolor="#ffffff">
    <tr bgcolor="#00bdee">
		<td colspan="4" align="left" width="600" style="background-image:url('http://beta.marketocracy.com/includes/templates/emails/test/images/header.png'); background-repeat:no-repeat;">
		<!--[if gte mso 9]>
		<img src="http://'. $_SESSION['base_url'].'includes/email/images/support-ticket-email/header-support.png" width="600" height="45" border="0" alt="" />
		<![endif]-->
		<!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="600" height="45" border="0" alt="Marketocracy" />
		<!--<![endif]-->
		</td>
	</tr>
    <tr bgcolor="#00bdee">
    	<td width="15"><!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
		<!--<![endif]--></td>
        
        <td><h2 style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; margin:0px 0px 3px 0px; padding:0px;">Portfolio Trading Platform</h2></td>
        
        <td align="right"><h2 style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; margin:0px 0px 3px 0px; padding:0px;">August 28, 2014</h2></td>
        
        <td width="15"><!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
		<!--<![endif]--></td>
    </tr>
    <tr>
    	<td colspan="4">
        <!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="600" height="20" border="0" alt="Marketocracy" />
		<!--<![endif]-->
        </td>
    </tr>
    <tr>
    	<td width="15"><!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
		<!--<![endif]--></td>
        <td valign="top" colspan="2" bgcolor="#ffffff" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#767676; line-height:20px;">
            
            
            <h2 style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#242527; margin:0px; padding:0px;"><strong>Hello, Bob!</strong></h2>
            
            <p>We hope you're enjoying your free trial of <strong>Marketocracy Premium</strong>!</p>
            
            <p>Each week we will highlight a key feature of <strong>Marketocracy Trading Platform</strong> to help you take full advantage of everything offered in the 30 day free trial.</p>
            
            <p>Click one of the following links to get started or to learn more information!</p>
            
            <a href="http://dev.mds.marketocracy.com/#inner" target="_blank" style="margin: 0px auto 20px auto; background:#00BDEE; text-align:center; color:#fff; padding:5px 10px;; border-radius:3px; font-size:16px;text-decoration:none; display:block;width:350px;">Getting Started: How Does Our Site Work?</a>

            <a href="http://dev.mds.marketocracy.com/" target="_blank" style="margin: 0px auto 20px auto; background:#00BDEE; text-align:center; color:#fff; padding:5px 10px;; border-radius:3px; font-size:16px;text-decoration:none; display:block;width:350px;">Community Forums: Join the Conversation</a>
            
            <a href="http://dev.mds.marketocracy.com/" target="_blank" style="margin: 0px auto 20px auto; background:#00BDEE; text-align:center; color:#fff; padding:5px 10px;; border-radius:3px; font-size:16px;text-decoration:none; display:block;width:350px;">Start Learning: Using the Trade School</a>
            
            
            
            <a href="http://dev.mds.marketocracy.com/" target="_blank" style="margin: 0px auto 20px auto; background:#00BDEE; text-align:center; color:#fff; padding:5px 10px;; border-radius:3px; font-size:16px;text-decoration:none; display:block;width:350px;">Read Up: Recent Forbs Articles</a>
            
            <p>Thank you for all that you do and for helping make Marketocracy the best investment research community in the world.</p>
            
            <p><em>- Marketocracy Member Services</em></p>
            
            
            <h2 style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#00BDEE; margin:0px; padding:0px; padding-top: 20px; border-top:#00BDEE 5px dotted;">Need help?</h2>
                        
            <p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#3f3f3f; line-height:20px;">Something wrong with your account? Need some help? Have a question?<br />Take advantage of our support ticket system, conveniently built into your account.</p>
            
            <p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#3f3f3f; line-height:20px;"></p>
            
            <a href="http://beta.marketocracy.com/?page=08-01-00-001" target="_blank" style="width:175px;margin: 0px 0px 20px 0px; background:#00BDEE; text-align:center; color:#fff; padding:5px 10px;; border-radius:3px; font-size:16px;text-decoration:none; display:block;">Submit Support Ticket</a>
            
        </td>
        <td width="15"><!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
		<!--<![endif]--></td>
    </tr>
    <tr bgcolor="#242527">
    	<td colspan="4">
        <!--[if !mso]><!-- -->
		<img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="600" height="5" border="0" alt="Marketocracy" />
		<!--<![endif]-->
        </td>
    </tr>
    <tr bgcolor="#242527">
        <td width="15"><!--[if !mso]><!-- -->
            <img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
            <!--<![endif]--></td>
        <td width="570" colspan="2"  valign="top" colspan="3" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff;margin:0px;padding:0px;">
            
            <table style="margin:0px 0px 10px 0px;padding:0px;" cellpadding="0" cellspacing="0" width="100%">
            	<tr>
                	<td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; line-height:20px; text-align:left;margin:0px;"><a href="http://beta.marketocracy.com" target="_blank" style="color:#00BDEE;">Marketocracy Data Services</a><br />1208 W. Magnolia Ave Suite 236, Fort Worth, Texas 76104</p></td>
                    <td valign="bottom"><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; line-height:20px; text-align:right;margin:0px;">&copy; 2001-2014 Marketocracy</p></td>
                </tr>
            </table>
            
            
        </td>
        <td width="15"><!--[if !mso]><!-- -->
            <img src="http://beta.marketocracy.com/includes/email/images/support-ticket-email/spacer.gif" width="15" border="0" alt="Marketocracy" />
            <!--<![endif]--></td>
    </tr>

</table><!--main-wrapper-->

</body>
</html>